
body{font-family:"Lucida Grande",Helvetica,Arial,sans-serif;font-size: 16px;line-height: 18px;min-width:600px;}
h1{font-weight:normal;margin-top:40px; margin-bottom: 36px;}
h2{color: black;font-size: 1.1em;line-height: 1.4;font-weight:normal; margin-top:25px; margin-bottom:5px;}
p{color: #555;font-size: .75em;line-height: 1.5; margin-top:5px; text-align: justify;}
ul div{float:left;margin-left:-40px;margin-right:128px;color: #555;font-size: .75em;}
li{/*color: #555;font-size: .75em;*/line-height: 1.5;margin-bottom: .9em;margin-top: .3em;margin-left: 40px;}
a{color: #2C81B0;text-decoration:none;}
a:hover{text-decoration:underline;}
#content{padding:32px;min-width:600px;}
#content > span{text-decoration:none;}
#content > span:hover{background-color:black;}
#content > span > h2{cursor: pointer;}
#content > span > h2:hover{text-decoration:underline;}
#content > span > h2 > span.show{color: #2C81B0;font-size: .6em;float:right;}
#content > span > h2:hover > span{text-decoration:underline;}
#content > span > h2:hover > .show{text-decoration:underline;}
img.icon{float:left;margin-right:18px;}
.active{display:block;}
.inactive{display:none;}